# Ignore all
*

# Unignore all with extensions
!*.*
!Makefile

# Unignore all dirs
!*/

__pycache__
*.egg-info
*~
*.bak
*.code-workspace
.history
.vscode
*.csv
**/_bin/*
**/_obj/*
**/_lib/*
~*
*.diff
*.patch
*.orig
*.rej

.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.swp
*.tmp
*.sdmp
*.bdmp
*.trace
*.elf
*.map
*.dmp
*.out

.deps
.libs

**/quartus/db/*
**/quartus/incremental_db/*
**/quartus/output_files/*
**/quartus/simulation/*
**/*_pin_model_dump.txt
**/rtl/**/output/*

*.vcd

networking/*
rtl/*
