//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-1
//Part Number: GW2AR-LV18QN88PFC9/I8
//Device: GW2AR-18
//Device Version: C
//Created Time: Wed 05 31 17:22:12 2023

IO_LOC "txd" 70;
IO_PORT "txd" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[5]" 20;
IO_PORT "LED[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[4]" 19;
IO_PORT "LED[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[3]" 18;
IO_PORT "LED[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[2]" 17;
IO_PORT "LED[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[1]" 16;
IO_PORT "LED[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[0]" 15;
IO_PORT "LED[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rxd" 69;
IO_PORT "rxd" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "MODE0_KEY1" 88;
IO_PORT "MODE0_KEY1" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CLK_IN_27MHZ" 4;
IO_PORT "CLK_IN_27MHZ" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
