set_io dram_addr[0] 37
set_io dram_addr[1] 38
set_io dram_addr[2] 39
set_io dram_addr[3] 41
set_io dram_addr[4] 42
set_io dram_addr[5] 43
set_io dram_addr[6] 44
set_io dram_addr[7] 45
set_io dram_addr[8] 47
set_io dram_addr[9] 48
set_io dram_addr[10] 56
set_io dram_data_in[0] 1
set_io dram_data_in[1] 2
set_io dram_data_in[2] 3
set_io dram_data_in[3] 4
set_io dram_data_in[4] 7
set_io dram_data_in[5] 8
set_io dram_data_in[6] 9
set_io dram_data_in[7] 10
set_io dram_data_out[0] 11
set_io dram_data_out[1] 12
set_io dram_data_out[2] 19
set_io dram_data_out[3] 22
set_io dram_data_out[4] 23
set_io dram_data_out[5] 24
set_io dram_data_out[6] 25
set_io dram_data_out[7] 26
set_io dram_nCAS_a 28
set_io dram_nCAS_b 29
set_io dram_nNREN 31
set_io dram_nRAS 32
set_io dram_nWAIT 33
set_io dram_nWE 34
set_io ext_grnt 15
set_io ext_req 16
set_io interrupt 17
set_io rst 18
set_io clk 49
